<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gachugusville.thoughtsonme">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/test_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/test_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThoughtSOnMeLight"
        tools:replace="android:icon">
        <activity
            android:name=".Settings.AccountSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.SearchDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".CHAT.ConversationListActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.LogInActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.UserDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.DashboardProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.IntroFragmentsActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.GoogleSignInActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.AddReviewActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.TargetDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".CHAT.MessagesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".OtherActivities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="thoughtsonme.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>